[package]
name = "dkn-compute"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
readme = "README.md"

[features]
default = []

# test features
waku_test = []
ollama_test = []
synthesis_aggregation_test = []

[dependencies]
tokio-util = { version = "0.7.10", features = ["rt"] }
tokio = { version = "1", features = ["macros", "rt-multi-thread", "signal"] }
parking_lot = "0.12.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
reqwest = { version = "0.12.4", features = ["json"] }

# encodings
base64 = "0.22.0"
hex = "0.4.3"
hex-literal = "0.4.1"
url = "2.5.0"
urlencoding = "2.1.3"

# logging
env_logger = "0.11.3"
log = "0.4.21"

# encryption (ecies) & signatures (ecdsa)
ecies = { version = "0.2", default-features = false, features = ["pure"] }
libsecp256k1 = "0.7.1"

# bloom filters
fastbloom-rs = "0.5.9"

# hashing stuff
sha2 = "0.10.8"
sha3 = "0.10.8"

# connects with Ollama running locally, uses latest master branch
ollama-rs = { git = "https://github.com/pepperoni21/ollama-rs.git", branch = "master" }
langchain-rust = { version = "4.2.0", features = ["ollama"] }
# TODO: used with LangChain due to version compatibility problems
ollama-rs-old = { package = "ollama-rs", version = "0.1.9" }

[dev-dependencies]
colored = "2.1.0"
rand = "0.8.5"

[[example]]
name = "ollama"
path = "./examples/benchmarks/ollama.rs"

[[example]]
name = "prompt"

[[example]]
name = "peers"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
